<br><div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario"> 
                <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <strong>Thông Tin</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    ID                                                
                                </strong>
                            </td>
                            <td class="text-primary" >
                                <b>{{ id }}</b>
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                <b>{{ name }}   </b> 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                               <b>{{ email }}    </b> 
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <button style="margin-left: 90%;" class="underlineHover btn btn-success mt-3" type="button" (click)="onSubmit()" class="btn btn-success mt-3">Đăng Xuất</button>
    </div>
    </div>                                   